{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/openlayers/ol.css' %}" type="text/css">
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">{{ breadcrumb }}</li>
{% endblock %}

{% block content %}
{% if motion_data %}
<div class="mt-2">
  <div class="container">
    <div class="row">
      <div class="btn-group" role="group">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown">Download data</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ ws_url }}" target="_blank">Events data (this page source)</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h5 class="bg-dark text-white pl-2 mt-2">Events</h5>
  <div class="table-responsive">
    <table id="events_table" class="table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>
            Event origin time
            <small class="text-muted d-block">(click for details)</small>
          </th>
          <th>Magnitude</th>
          <th>Network and station</th>
          <th>
            Flinn-Engdahl Region
          </th>
          <th>
            Epicentral distance
          </th>
          <th>
            Max PGA [cm/s<sup>2</sup>]
          </th>
          <th>
            Max PGV [cm/s]
          </th>
        </tr>
      </thead>
      <tbody>
        <script type="text/javascript">
          var events = []
        </script>
        {% for s in motion_data.stations %}
        <tr>
          <td><a
              href="{% url 'station_streams' s.event_id s.network_code s.station_code %}">{{ s.parse_origin_time }}</a>
          </td>
          <td>{{ s.get_magnitude }}</td>
          <td>{{ s.network_code }}.{{ s.station_code }}</td>
          <td>{{ s.get_flinn_engdahl }}
            <small class="text-muted d-block">Lat: {{ s.get_latitude }}, Lon: {{ s.get_longitude }}</small>
          </td>
          <td>{{ s.epicentral_distance }}</td>
          <td>{{ s.get_max_pga.0 }} ({{ s.get_max_pga.1 }})</td>
          <td>{{ s.get_max_pgv.0 }} ({{ s.get_max_pgv.1 }})</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#events_table').DataTable({
      "order": [
        [0, "desc"]
      ],
      stateSave: !0
    });
  })
</script>
{% else %}
<p>
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">No data</h4>
    <p>No matching events could be found:</p>
    <a href="{{ ws_url }}" class="alert-link">{{ ws_url }}</a>
  </div>
</p>
{% endif %}

{% block javascript %}
<script src="{% static 'js/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatable/dataTables.bootstrap4.min.js' %}"></script>
{% endblock javascript %}
{% endblock %}