{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/openlayers/ol.css' %}" type="text/css">
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'event_details' station_data.event_id %}">Event details ({{ station_data.event_id }})</a></li>
<li class="breadcrumb-item active">Event ID: {{ station_data.event_id }}, Network: {{ station_data.network_code }}, Station: {{ station_data.station_code }}</li>
{% endblock %}

{% block modal %}
<h6>Plot manipulation</h6>
<p>Click on <b>Export to plot.ly</b> link below a chart to edit it in an external editor.</p>
{% endblock modal %}

{% block content %}

{% if station_data %}
<div id="map" class="map">
    <div id="popup"></div>
</div>
<script src="{% static 'js/openlayers/ol.js' %}"></script>
<script src="{% static 'js/openlayers/olStationbook.js' %}"></script>

<div class="mt-2">
<div class="container mb-2">
    <div class="row">
        <div class="btn-group" role="group">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Download data</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ ws_url }}" target="_blank">Motion data (this page source)</a>
                </div>
            </div>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">External links</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://orfeus-eu.org/webdc3/" target="_blank">Go to WebDC3</a>
                </div>
            </div>
            <div class="btn-group" role="group">
              <button class="btn btn-primary" data-toggle="modal" data-target="#pageInfo">Page information</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            {% if chart_psa %}
            <div>
                {{ chart_psa|safe }}
            </div>
            {% endif %}
        </div>
        <div class="col-6">
            {% if chart_drs %}
            <div>
                {{ chart_drs|safe }}
            </div>
            {% endif %}
        </div>
    </div>
</div>

<h1 class="bg-dark text-white pl-2">Station information</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <p><b>Network code: </b>{{ station_data.network_code }}</p>
            <p><b>Station code: </b>{{ station_data.station_code }}</p>
            <p><b>Location code: </b>{{ station_data.location_code }}</p>
            <p><b>Station max PGA [cm/s<sup>2</sup>]: </b>{{ station_data.get_max_pga.0 }} ({{ station_data.get_max_pga.1 }})</p>
            <p><b>Station max PGV [cm/s]: </b>{{ station_data.get_max_pgv.0 }} ({{ station_data.get_max_pgv.1 }})</p>
            <p><b>Station epicentral distance [km]: </b>{{ station_data.epicentral_distance }}</p>
            <p><b>Station latitude [°]: </b>{{ station_data.station_latitude }}</p>
            <p><b>Station longitude [°]: </b>{{ station_data.station_longitude }}</p>
            <p><b>Station elevation [m]: </b>{{ station_data.station_elevation }}</p>
        </div>
        <div class="col">
            <p><b>Event ID: </b>{{ station_data.event_id }}</p>
            <p><b>Event time (UTC): </b>{{ station_data.parse_origin_time }}</p>
            <p><b>Event magnitude: </b>{{ station_data.event_magnitude }} ({{ station_data.event_type }})</p>
            <p><b>Event depth [km]: </b>{{ station_data.event_depth }}</p>
            <p><b>Event latitude [°]: </b>{{ station_data.event_latitude }}</p>
            <p><b>Event longitude [°]: </b>{{ station_data.event_longitude }}</p>
        </div>
    </div>
</div>

<h1 class="bg-dark text-white pl-2">List of streams</h1>
<div class="table-responsive">
<table id="stations_table" class="table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Channel code</th>
            <th>PGA [cm/s<sup>2</sup>]</th>
            <th>PGV [cm/s]</th>
            <th>Azimuth</th>
            <th>Dip</th>
            <th>Depth</th>
            <th>Unit</th>
            <th>Corner freq. lower</th>
            <th>Corner freq. upper</th>
        </tr>
    </thead>
    <tbody>
        {% for sc in station_data.sensor_channels %}
        <tr>
            <td>{{ sc.channel_code }}</td>
            <td>{{ sc.pga_value }}</td>
            <td>{{ sc.pgv_value }}</td>
            <td>{{ sc.sensor_azimuth }}</td>
            <td>{{ sc.sensor_dip }}</td>
            <td>{{ sc.sensor_depth }}</td>
            <td>{{ sc.sensor_unit }}</td>
            <td>{{ sc.corner_freq_lower }}</td>
            <td>{{ sc.corner_freq_upper }}</td>
        </tr>
        <script type="text/javascript">
        var event_latitude=parseFloat("{{ station_data.event_latitude }}"),event_longitude=parseFloat("{{ station_data.event_longitude }}"),event_depth=parseFloat("{{ station_data.event_depth }}"),event_magnitude=parseFloat("{{ station_data.event_magnitude }}");if(!isNaN(event_latitude)&&!isNaN(event_longitude)){var point=new ol.Feature({geometry:new ol.geom.Point(ol.proj.fromLonLat([event_longitude,event_latitude]))});point.setStyle(new ol.style.Style({image:new ol.style.Circle({radius:event_magnitude**2/2,fill:new ol.style.Fill({color:getEventColor(event_magnitude)}),stroke:new ol.style.Stroke({color:'#000000',width:1})})})),vectorSource.addFeature(point)}
        var latitude=parseFloat("{{ station_data.station_latitude }}"),longitude=parseFloat("{{ station_data.station_longitude }}"),stationCode="{{ station_data.station_code }}",networkCode="{{ station_data.network_code }}",markerPath="{% static 'img/markers/marker-red.png' %}";if(!isNaN(latitude)&&!isNaN(longitude)){var point=new ol.Feature({geometry:new ol.geom.Point(ol.proj.fromLonLat([longitude,latitude])),name:`<b>Network code: </b>${networkCode}<br><b>Station code: </b>${stationCode}\n<br><b>Latitude: </b>${latitude}\n<br><b>Longitude: </b>${longitude}\n`});point.setStyle(new ol.style.Style({image:new ol.style.Icon({anchor:[0.5,1],anchorXUnits:"fraction",anchorYUnits:"fraction",src:markerPath})})),vectorSource.addFeature(point)}
        map.getView().setCenter(ol.proj.transform([longitude,latitude],"EPSG:4326","EPSG:3857")),map.getView().setZoom(8);
        </script>
        {% endfor %}
    </tbody>
</table>
</div>

<script type="text/javascript">
  $(document).ready(function() {
      $('#stations_table').DataTable();
  });
</script>

{% else %}

<p>
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">No data</h4>
        <p>Event details not available for given event:</p>
        <a href="{{ ws_url }}" class="alert-link">{{ ws_url }}</a>
    </div>
</p>

{% endif %}

</div>

{% block javascript %}
<script src="{% static 'js/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatable/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}

{% endblock %}